body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightblue;
}

#menu {
    margin-top: 50px;
}

canvas {
    display: none;
    background-color: skyblue;
    border: 2px solid black;
}
